@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2"); 
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

.html{
    height:100%;
}

.main-container {
    flex-grow: 1;
  }

body {
    margin:0;
    display:flex;
    flex-direction:column;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color:#000000;
    background-color: #FFFFFF;
}

/*Шапка*/
.page-header{
    margin: 0 auto;
    color: #000000;
    background-color: #FFFFFF;
}

.header-background{
    width: 1160px;
    height: 300px;
    margin-right: 0 auto;
    margin-left: 0 auto;
    margin-top: 40px;
    background-color: #ffe17f;
}

.logo-device{
    margin-top: 17px;
}

.navigation {
    padding-top: 48px;
    padding-right: 25px;
    padding-bottom: 152px;
    padding-left: 60px;
  }

.personal-navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:0;
    padding: 0;
    padding-bottom: 44px;
}

.personal-list-serach{
    width: 516px;
    height: 20px;
}

.personal-list-user{
    width: 245px;
    height: 20px;
    padding-left: 24px;
}

.personal-list-compare{
    width: 120px;
    height: 20px;
    padding-left: 15px;
}

.personal-list-cart{
    width: 141px;
    height: 21px;
    padding-left: 14px;
}

.navigation-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1041px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.navigation-item-product{
    width: 540px;
    height: 20px;
}

.navigation-item-delivery{
    width: 159px;
    height: 20px;
}

.navigation-item-warranty{
    width: 162px;
    height: 20px;
}

.navigation-item-contacts{
    width: 180px;
    height: 20px;
}

.navigation-link-header{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    letter-spacing: 0.2em;
    color: #000000;
    text-decoration: none;   
    text-transform: uppercase;
}

.button{
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    color: black;
    background-color: #ffe17f;
    border: none;
}

.search-bar{
    font-family: "Rubik", sans-serif;
    color: black;
    font-size: 16px;
    background-color: #ffe17f;
    border: none;
}

.quantity-of-goods{
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    color: #000000;
    text-align: center;
    width: 21px; 
    height: 21px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.main-index{
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    color: black;
    background-color: #FFFFFF;
}

.page-container{
    width: 1160px;
    margin: 0 auto;
}

/*Слайдер*/
.slider{
    width: 1160px;
    margin: 0 auto;
    color: black;
    background-color: white;
}

.slider-pagination-item{
    display: flex;
    justify-content: space-between;  
}
/*
.number-slider-place{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 135px;
    margin-left: 861px;
    margin-top: 29px;
    margin-bottom: 369px;
    margin-bottom: 50px;
}

.number-slider{
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 180px;
    color: #FFFFFF;
    background-color: #ffe17f;
    align-items: center;
    text-align: right;
}
*/

.slider-left{
    width: 560px;
    display: flex;
    align-items: center;
}

.slider-prev {
    background-image: url(../img/icons/left_tall_arrow.svg);
    margin-right: -50px;
  }

.slider-next {
  background-image: url(../img/icons/right_tall_arrow.svg);
  margin-left: -45px;
}

.slider-button{
    z-index: 1;
    width: 40px;
    height: 60px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    color: black;
    background-color: #FFFFFF;
    border: none;
}

.slider-right {
    width: 560px;
    display: flex;
    flex-wrap: wrap;
  }

.slider-product-slogan{
    width: 560px;
    height: 110px;
    margin: 0;
    margin-top: 120px;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.slider-product-description{
    width: 560px;
    height: 80px;
    margin: 0;
    margin-top: 19px;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    color: #444444;
}

.link{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    text-decoration: none;   
    color: #000000;
}

.slider-link{
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 220px;
    height: 50px;
    margin: 0;
    padding: 14px 0 16px 0;
    text-align: center;
    margin-right: 200px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.2em; 
    text-transform: uppercase;
    background-color: #FFE17F;
}

.characteristic{
    margin-right: 20px;
    font-family: "Rubik", sans-serif;
    font-size: 36px;
    line-height: 30px;
    color: #000000;
}

.explanation{
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 50px;
    color: #444444;
}

/*Категории*/
.category{
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.category-list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 200px;
}

.category-block{
    width: 160px;
    height: 160px;
    background: #FFE17F;
}

.category-link{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    display: block;
}

.category-img{
    background-color: none;
}

.category-character{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    color: #000000;
    letter-spacing: -0.02em;
}

/*Сервисы*/
.service{
    width: 1160px;
    margin: 0 auto;
    display: flex;
}

.service-navigation{
    background-color: #F0F0F0;
}

.service-nav{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: black;
    background-color:#FFC700;
}

.service-nav-focus{
    color: #FFE17F;
    background-color: black;
}

h3{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    color: #000000;
}

.service-description{
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    color: #444444;
}

/*Доставка под заказ*/
.special-delivery{
    width: 1160px;
    margin: 0 auto;
    margin-top: 90px;
}

.special-delivery-segment{
    width: 1160px;
    height: 100px;
    background-color: #F0F0F0;;
}

.delivery-special-button{
    width: 125px;
    height: 100px;
    background-color: #FFE17F;
    border: none;
}

.special-delivery-word{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    width: 910px;
    height: 20px;

}

.info-special-delivery{
    width: 40px;
    height: 40px;
    background-color: #EBEBEB;
    border-radius: 50%;
    border: none;
}

/*О нас, Контакты*/
.information{
    margin: 0 auto;
    margin-top: 97px;
    display: flex;
    justify-content: space-between;
    width: 1160px;
}

.about-us{
    width: 560px;
    display: flex;
    flex-direction: column;
}

.contacts{
    width: 560px;
}

.about-us-word{
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    color: #444444;
    }

.about-us-list{
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    line-height: 20px;
}

.about-us-word-bold{
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #444444;
}

.about-us-telephone{
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #444444;
}

/*Подписка*/
.mailing-words{
    width: 559px;
    margin-top: 86px;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.mailing{
    width: 1440px;
    margin-top: 87px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #F0F0F0;
}

.subscribe{
    width: 601px;
    margin-top: 75px;
    line-height: 50px;
}

.e-mail-input{
    width: 601px;
    font-family: "Rubik",sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    opacity: 0.5;
    border: none;
}

.subscribe-button{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #000000;
    text-transform: uppercase;
    width: 260px;
    height: 55px;
    opacity: 0.1;
    border: 3px solid;
    background-color: #ebebeb;
}
    
.its-free{
    margin-left: auto;
    font-family: "Rubik",sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

/*Подвал*/
.page-footer{
    color: #FFFFFF;
    background-color: #444444;
}

.page-footer-container {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-left{
    flex-basis: 240px;
    margin: 0;
    padding: 0;
  }

.adress-footer{
    font-family: "Rubik",sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.logo-link-footer{
    margin-top: 62px;
}

.adress-footer{
    margin: 0;
    padding: 0;
    margin-top: 35px;
}

.footer-center{
    margin: 0;
    padding: 0;
  }

.footer-navigation-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0;
    padding: 0;
    margin-top: 123px;
}

.footer-navigation-item{
    display: block;
    padding: 14px 20px 15px 20px;
    width: 125px;
    height: 21px;
    padding: 14px 20px 15px 20px;
}

.footer-social-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-top: 62px;
}

.footer-social-item{
    display: block;
    margin: 7px;
}

.footer-social-ellipse{
    width: 40px; 
    height: 40px;
    background-color: #DCDCDC;
    border-radius: 50%;
}

.navigation-link-footer{
    font-family: "Raleway",sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-right{
    margin: 0;
    padding: 0;
}

.telephone-footer{
    display: block;
    margin-left: auto;
    margin-top: 133px;
    padding: 3px 15px 5px 15px;
    font-family: "Rubik",sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
}

.personal-link-logout{
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-top: 63px;
    font-family: "Rubik",sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.3;
    text-decoration: none;
}

h1{
    font-family: "Raleway",sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.main-inner{
    color: black;
    background-color: #FFFFFF;
}

.inner-header{
    width: 1160px;
    margin: 0 auto;
}

.inner-header-title{
    margin: 39px 0 0 60px;
    padding: 0;
}

.breadcrumbs {
    display: flex;
    margin: 12px 0 0 47px;
    padding: 0;
  }

.breadcrumbs-item{
    list-style-type: none;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.6;
    }

.breadcrumbs-link{
    text-decoration: none;
    color: #000000;
}

.catalog-products {
    margin: 49px 0 0 0;
  }

.catalog-products-container {
    display: flex;
  }

.catalog-products-filter{
    width: 468px;
    background-color: #ebebeb;
    margin-right: auto;
}

.catalog{
    box-sizing: border-box;
    background-color: #dcdcdc;
    height: 70px;
    padding-top: 25px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.catalog-filter{
    width: 328px;
    margin: 0 0 0 auto;
    padding-left: 60px;
    color: black;
    background-color: #ebebeb;
}

.catalog-filter-title{
    font-family: "Rubik",sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
}

.catalog-filter-label{
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    opacity: 0.3;
}

.catalog-filter-item{
    font-family: "Rubik",sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.button-catalog{
    width: 200px;
    height: 20px;
    padding: 0;
    z-index: 0;
    position: relative;
    background-color: #FFC700;
    border: none;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.sorting-type-container{
    width: 832px;
    margin-right: auto;
}

.sorting-type{
    color: black;
    background-color: #ebebeb;
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    width: 360px;
  }

.product-list-container{
    width: 832px;
}

.product-list{
    margin: 69px 0 0 72px;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 40px;
    grid-row-gap: 44px;
}

.sort-container{
    width: auto;
    height: 70px;
}

.sorting-p{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.select-control{
    border: none;
    background-color: #ebebeb;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.button-sort{
    background-color: none;
    border:none;
}

.product-card-title{
    margin: 22px 0 0 0;
    max-width: 260px;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.product-card-price{
    margin: 22px 0 0 0;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #444444;

}

.button-more{
    width: 760px;
    height: 55px;
    border:none;
    margin: 44px 0 0 72px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.pagination{
    display: flex;
    margin: 51px 0 77px 72px;
    padding: 0;
    width: 760px;
    height: 70px;
    background-color: #ebebeb;
}

.pagination-item {
    align-self: center;
  }

.pagination-item:first-child {
    margin-right: auto;
  }

.pagination-item:last-child {
    margin-left: auto;
  }

.pagination-prev {
    font-family: "Raleway",sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.pagination-link{
    display: block;
    width: 38px;
    height: 38px;
    padding: 8px 16px 11px 15px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #444444;
    opacity: 0.3;
    text-decoration: none;
}


